psycopg2-binary
gpt4all
jupyter_kernel_gateway
langchain
langchain.tools
langchain_openai
langchain_text_splitters
llmlingua
networkx
nltk
openai
pdfplumber
pymupdf
pypdf
pdf2image
poppler-utils
reportlab
requests